header {
    display: none;
}

main {
    /* GRID parent */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    div {
        width: 100vw;
        height: 100vh;
        position: relative;

        figure {
            position: absolute; 
            width: 100%;
            height: 100%;

            /* GRID */
            display: grid;
            place-items: center;             

            scale: .4;

            @media (min-width: 320px) {
                scale: .5;
            }

            @media (min-width: 380px) {
                scale: .6; 
            }

            @media (min-width: 500px) {
                scale: .7;
            }

            @media (min-width: 600px) {
                scale: .8;
            }

            @media (min-width: 700px) {
                scale: .9;
            }

            @media (min-width: 800px) {
                scale: 1;
            }

            img {
                position: absolute;
            }
        }

        /* COLLAGE 1 - Medieval Castle */
        &:nth-of-type(1) {
            grid-column: 1/2;
            grid-row: 1/2;    
            background-color: var(--bg-color-1a);

            img {
                /* CASTLE */
                &:nth-of-type(1) {
                    scale: var(--scale-08);
                    z-index: var(--z-index-1);
                }

                /* CLOUDS */
                &:nth-of-type(2) {
                    scale: var(--scale-08);
                    z-index: var(--z-index-2);
                    translate: -20% -80%;
                }

                /* KNIGHT */
                &:nth-of-type(3) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-2);
                    translate: 30% 35%;
                }

                /* MOON */
                &:nth-of-type(4) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-0);
                    translate: 15% -48%;
                }

                /* WRITINGS */
                &:nth-of-type(5) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-0);
                    translate: -32% 5%;
                }
            }
        }
        
        /* COLLAGE 2 - Tortured Poet */
        &:nth-of-type(2) {
            grid-column: 2/3;
            grid-row: 1/2;            
            background-color: var(--bg-color-2a);

            img {
                /* CURTAIN */
                &:nth-of-type(1) {
                    scale: var(--scale-07);
                    z-index: var(--z-index-3);
                }

                /* FLOWER THINGY */
                &:nth-of-type(2) {
                    scale: var(--scale-09);
                    z-index: var(--z-index-2);
                    translate: -25% 10%;
                    
                }

                /* POET */
                &:nth-of-type(3) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-1);
                    translate: -25% 25%;
                    
                }

                /* WRITINGS */
                &:nth-of-type(4) {
                    scale: var(--scale-06);
                    z-index: var(--z-index-0);
                    translate: -20% 10%;
                }
            }
        }
    
        /* COLLAGE 3 - Around The Waterlilies */
        &:nth-of-type(3) {
            grid-column: 3/4;
            grid-row: 1/2;    
            background-color: var(--bg-color-3a);

            img {
                /* ARTICLE */
                &:nth-of-type(1) {
                    scale: var(--scale-09);
                    z-index: var(--z-index-1);
                    translate: 10% -15%;
                }

                /* BEE */
                &:nth-of-type(2) {
                    scale: var(--scale-02);
                    z-index: var(--z-index-4);
                    translate: 10% 0%;
                }

                /* DOVE */
                &:nth-of-type(3) {
                    scale: var(--scale-08);
                    z-index: var(--z-index-3);
                    translate: -30% -30%;
                }

                /* FRUIT */
                &:nth-of-type(4) {
                    scale: var(--scale-07);
                    z-index: var(--z-index-2);
                    translate: 40% -18%;
                }

                /* BRANCHES */
                &:nth-of-type(5) {
                    scale: var(--scale-03);
                    z-index: var(--z-index-3);
                    translate: 0% 10%;
                }

                /* POND */
                &:nth-of-type(6) {
                    scale: var(--scale-06);
                    z-index: var(--z-index-0);
                    translate: 0% 10%;
                }
            }
        }
    
        /* COLLAGE 4 - Out On The Sea */
        &:nth-of-type(4) {
            grid-column: 1/2;
            grid-row: 2/3;   
            background-color: var(--bg-color-4a);

            img {
                /* FLYING FISH 1 */
                &:nth-of-type(1) {
                    scale: var(--scale-03);
                    z-index: var(--z-index-1);
                    translate: -23% -13%;
                }

                /* FLYING FISH 2 */
                &:nth-of-type(2) {
                    scale: var(--scale-02);
                    z-index: var(--z-index-1);
                    translate: 3% -35%;
                }

                /* MOON */
                &:nth-of-type(3) {
                    scale: var(--scale-02);
                    z-index: var(--z-index-2);
                    translate: 15% -35%;
                }

                /* KRAKEN */
                &:nth-of-type(4) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-2);
                    translate: -8% 38%;
                }

                /* NIGHT SKY */
                &:nth-of-type(5) {
                    scale: var(--scale-11);
                    z-index: var(--z-index-0);
                }

                /* SHIP */
                &:nth-of-type(6) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-3);
                    translate: 10% 46%;
                }

                /* WAVES */
                &:nth-of-type(7) {
                    scale: calc(1.025 * var(--scale-07));
                    z-index: var(--z-index-1);
                    translate: 0% 120%;
                }
            }
        }
    
        /* COLLAGE 5 - Dragon */
        &:nth-of-type(5) {
            grid-column: 2/3;
            grid-row: 2/3;    
            background-color: var(--bg-color-5a);

            img {
                /* BUILDING */
                &:nth-of-type(1){
                    scale: var(--scale-06);
                    z-index: var(--z-index-2);
                }

                /* CONSTELLATION */
                &:nth-of-type(2){
                    scale: var(--scale-09);
                    z-index: var(--z-index-0);
                    translate: -15% 17%;
                }

                /* DRAGON */
                &:nth-of-type(3){
                    scale: var(--scale-06);
                    z-index: var(--z-index-3);
                    translate: 5% 0%;
                }

                /* WIZARD */
                &:nth-of-type(4){
                    scale: var(--scale-04);
                    z-index: var(--z-index-1);
                    translate: -15% 25%;
                }
            }
        }
    
        /* COLLAGE 6 - Around The Fire*/
        &:nth-of-type(6) {
            grid-column: 3/4;
            grid-row: 2/3;    
            background-color: var(--bg-color-6a);

            img {
                /* WOMEN */
                &:nth-of-type(1){
                    scale: var(--scale-07);
                    z-index: var(--z-index-2);
                    translate: 0% 15%;
                }

                /* MOON */
                &:nth-of-type(2){
                    scale: var(--scale-04);
                    z-index: var(--z-index-1);
                    translate: -19% -30%;
                }

                /* PAPER */
                &:nth-of-type(3){
                    scale: var(--scale-05);
                    z-index: var(--z-index-1);
                    translate: 15% 18%;
                }

                /* STARY NIGHT */
                &:nth-of-type(4){
                    scale: var(--scale-06);
                    z-index: var(--z-index-0);
                }
            }
        }
    
        /* COLLAGE 7 - Italy */
        &:nth-of-type(7) {
            grid-column: 1/2;
            grid-row: 3/4;   
            background-color: var(--bg-color-7a);

            img {
                /* BIRDS */
                &:nth-of-type(1){
                    scale: var(--scale-04);
                    z-index: var(--z-index-2);
                    translate: -20% 0%;
                }

                /* ORANGES */
                &:nth-of-type(2){
                    scale: var(--scale-02);
                    z-index: var(--z-index-2);
                    translate: 18% -5%;
                }

                /* ROAD */
                &:nth-of-type(3){
                    scale: var(--scale-06);
                    z-index: var(--z-index-0);
                    translate: 0% 14.2%;
                }

                /* PILLARS */
                &:nth-of-type(4){
                    scale: var(--scale-08);
                    z-index: var(--z-index-1);
                }
            }
        }
    
        /* COLLAGE 8 - A Fairytale */
        &:nth-of-type(8) {
            grid-column: 2/3;
            grid-row: 3/4;
            background-color: var(--bg-color-8a);

            img {
                /* STEPS */
                &:nth-of-type(1){
                    scale: var(--scale-06);
                    z-index: var(--z-index-2);
                    translate: -10% 35%;
                }

                /* INSECT */
                &:nth-of-type(2){
                    scale: var(--scale-04);
                    z-index: var(--z-index-1);
                    rotate: 45deg;
                    translate: 30% -5%;
                }

                /* LANDSCAPE */
                &:nth-of-type(3){
                    scale: var(--scale-1);
                    z-index: var(--z-index-0);
                }

                /* LEMONS */
                &:nth-of-type(4){
                    scale: calc(.7 * var(--scale-02));
                    z-index: var(--z-index-3);
                    translate: -25% -5%;
                }

                /* MOUSE */
                &:nth-of-type(5){
                    scale: var(--scale-03);
                    z-index: var(--z-index-3);
                    translate: 3% 28%;
                }

                /* PILLARS */
                &:nth-of-type(6){
                    scale: var(--scale-06);
                    z-index: var(--z-index-1);
                    translate: -12% -9%;
                }
            }
        }
    
        /* COLLAGE 9 - In The Garden */
        &:nth-of-type(9) {
            grid-column: 3/4;
            grid-row: 3/4;
            background-color: var(--bg-color-9a);

            img {
                /* GARDEN */
                &:nth-of-type(1){
                    scale: var(--scale-1);
                    z-index: var(--z-index-0);
                }

                /* FOUNTAIN */
                &:nth-of-type(2){
                    scale: var(--scale-04);
                    z-index: var(--z-index-2);
                    translate: -15% 3%;
                }

                /* STORKS */
                &:nth-of-type(3){
                    scale: var(--scale-06);
                    z-index: var(--z-index-1);
                    translate: -40% -30%;
                }

                /* READING */
                &:nth-of-type(4){
                    scale: var(--scale-06);
                    z-index: var(--z-index-3);
                    translate: 15% 40%;
                }
            }
        }
    }
}