header {
    position: fixed;
    z-index: var(--z-index-6);
    padding: 1rem 2rem;
    background-color: transparent;
    backdrop-filter: invert(80%);
    width: 100%;
    font-family: "Italiana", sans-serif;

    nav {
        color: var(--font-color-main);
        
        h1 {
            font-size: 2rem;
        }
    }
  }

main {
    overflow: auto;

    &.active {
        cursor: grabbing;
    }

    /* GRID parent */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    div {
        width: 100vw;
        height: 100vh;
        position: relative;

        figure {
            position: absolute; 
            width: 100%;
            height: 100%;

            /* GRID */
            display: grid;
            place-items: center;             

            scale: .4;

            @media (min-width: 320px) {
                scale: .5;
            }

            @media (min-width: 380px) {
                scale: .6; 
            }

            @media (min-width: 500px) {
                scale: .7;
            }

            @media (min-width: 600px) {
                scale: .8;
            }

            @media (min-width: 700px) {
                scale: .9;
            }

            @media (min-width: 800px) {
                scale: 1;
            }

            img {
                position: absolute;
            }
        }

        /* COLLAGE 1 - Medieval Castle */
        &:nth-of-type(1) {
            grid-column: 1/2;
            grid-row: 1/2;    
            background-color: var(--bg-color-1a);

            img {
                /* CASTLE */
                &:nth-of-type(1) {
                    scale: var(--scale-08);
                    z-index: var(--z-index-1);
                }

                /* CLOUDS */
                &:nth-of-type(2) {
                    scale: var(--scale-08);
                    z-index: var(--z-index-2);
                    translate: -20% -80%;
                    animation: clouds 8s ease-in-out infinite;
                }

                /* KNIGHT */
                &:nth-of-type(3) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-2);
                    translate: 50% 15%;
                    animation: knight 4s ease-in-out infinite;
                    transform-origin: bottom left;
                }

                /* MOON */
                &:nth-of-type(4) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-0);
                    translate: 15% -48%;
                }

                /* WRITINGS */
                &:nth-of-type(5) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-0);
                    translate: -32% 5%;
                }
            }
        }
        
        /* COLLAGE 2 - Tortured Poet */
        &:nth-of-type(2) {
            grid-column: 2/3;
            grid-row: 1/2;            
            background-color: var(--bg-color-2a);

            img {
                /* CURTAIN */
                &:nth-of-type(1) {
                    scale: var(--scale-07);
                    z-index: var(--z-index-3);
                }

                /* FLOWER THINGY */
                &:nth-of-type(2) {
                    scale: var(--scale-09);
                    z-index: var(--z-index-2);
                    translate: -25% 10%;
                }

                /* POET */
                &:nth-of-type(3) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-1);
                    translate: -25% 25%;
                    animation: poet 6.5s ease-in-out infinite;
                }

                /* WRITINGS */
                &:nth-of-type(4) {
                    scale: var(--scale-06);
                    z-index: var(--z-index-0);
                    translate: -20% 10%;
                }
            }
        }
    
        /* COLLAGE 3 - Around The Waterlilies */
        &:nth-of-type(3) {
            grid-column: 3/4;
            grid-row: 1/2;    
            background-color: var(--bg-color-3a);

            img {
                /* ARTICLE */
                &:nth-of-type(1) {
                    scale: var(--scale-09);
                    z-index: var(--z-index-1);
                    translate: 10% -15%;
                }

                /* BEE */
                &:nth-of-type(2) {
                    scale: var(--scale-02);
                    z-index: var(--z-index-4);
                    translate: -50% -50%;

                    /* transform-origin: center; */
                    offset-rotate: -10deg;

                    animation: bee 20s infinite ease-in-out;
                    offset-distance: 0;
                    offset-path: path("M1033.7 1412.82C1031.97 1399.02 1005.72 1380.91 1000 1366.62C995.078 1354.31 993.057 1342.54 993.057 1328.42C993.057 1311.36 990.89 1293.85 998.614 1278.4C1007.71 1260.21 1025.68 1246.93 1037 1229.95C1044.87 1218.14 1070.03 1210.39 1081.98 1203.56C1096.41 1195.31 1110.89 1187.09 1125.06 1178.37C1155.04 1159.93 1189.39 1136.99 1207.21 1104.92C1226.99 1069.31 1226.47 1023.92 1207.21 989.256C1200.45 977.095 1191.84 968.359 1179.07 962.686C1173.6 960.251 1162.58 956.526 1158.75 951.745C1155.53 947.715 1140.53 949.772 1135.48 947.751C1123.61 943.003 1102.75 947.056 1089.97 947.056C1071.39 947.056 1058.76 952.429 1041.51 956.26C1015.64 962.01 996.724 986.52 980.551 1004.71C971.451 1014.95 965.28 1027.4 955.54 1037.71C941.355 1052.73 927.588 1067.05 913.161 1081.47C886.639 1107.99 847.737 1140.86 808.255 1140.86C779.983 1140.86 752.588 1150.24 724.19 1150.24C710.428 1150.24 680.143 1154.81 668.611 1146.42C662.672 1142.1 652.249 1143.46 644.642 1141.56C634.228 1138.95 625.224 1134.64 614.768 1132.18C594.231 1127.35 574.997 1118.59 554.325 1113.08C508.031 1100.73 468.717 1087.72 420.935 1087.72C388.003 1087.72 356.653 1097.1 324.018 1097.1C287.677 1097.1 255.637 1080.01 220.848 1075.05C190.159 1070.66 148.918 1042.05 131.921 1018.26C101.983 976.35 121.052 908.835 117.505 859.183C114.24 813.48 105.736 771.633 70.7835 739.182C62.1543 731.17 57.5001 719.215 50.4623 709.833C43.3374 700.334 34.3765 692.522 27.1883 683.089C18.7874 672.064 14.9995 660.186 9.9934 647.314C1.5674 625.65 2.00385 604.066 2.00385 581.323C2.00385 511.477 82.6234 470.685 136.089 443.956C165.843 429.081 195.461 412.449 228.49 406.444C255.819 401.476 285.21 389.427 310.818 378.832C346.398 364.111 374.822 342.208 400.44 313.535C418.259 293.59 439.675 280.904 458.451 262.478C479.425 241.896 500.575 215.762 524.104 198.57C555.448 175.669 589.976 154.715 619.284 129.453C646.052 106.38 675.193 86.5933 701.611 63.1136C718.722 47.9061 744.307 29.2783 766.57 22.4766C801.988 11.6559 842.633 3.55745 879.813 3.02637C967.543 1.77326 1055.38 3.02637 1143.12 3.02637C1199.63 3.02637 1277.34 -6.04857 1326.19 29.7704C1347.04 45.0578 1365.58 66.6147 1383.33 85.3424C1394.47 97.0966 1404.28 106.933 1413.38 120.075C1434.04 149.924 1458.98 174.549 1484.94 199.265C1507.91 221.139 1537.69 226.143 1567.61 234.345C1604.52 244.464 1644.02 240.597 1681.9 240.597C1728.72 240.597 1773.67 241.414 1819.8 249.801C1921.51 268.291 2014.68 297.185 2097.35 360.771C2115.95 375.078 2132.82 409.316 2140.43 431.278C2146.6 449.101 2159.17 462.657 2164.74 480.598C2170.23 498.269 2171.96 514.022 2175.16 531.655C2180.19 559.292 2181.07 584.167 2181.07 612.408C2181.07 640.737 2164.55 671.823 2152.93 696.982C2123.33 761.11 2069.27 810.961 2042.12 876.896C2022.56 924.394 2015.37 973.696 2015.37 1025.2C2015.37 1050.78 2030.55 1067.22 2040.38 1090.15C2050.65 1114.1 2069.78 1135.21 2086.06 1155.1C2108.94 1183.06 2136.16 1207.32 2161.1 1233.6C2193 1267.22 2223.83 1302.91 2254.54 1337.62C2310.77 1401.18 2342.8 1479.66 2365.52 1560.43C2375.05 1594.29 2383.51 1628.52 2384.28 1663.93C2384.55 1676.15 2386.1 1690.82 2383.59 1702.84C2380.37 1718.21 2371.7 1732.68 2368.65 1748.68C2366.95 1757.63 2356.88 1772.65 2351.28 1780.29C2340.12 1795.51 2329.73 1807.61 2314.29 1818.84C2272.95 1848.9 2222.05 1871.04 2171.34 1877.89C2125.5 1884.08 2081.39 1885.55 2034.83 1884.83C1995.95 1884.24 1965.59 1866.89 1934.78 1844.89C1905.22 1823.77 1870.17 1810.16 1844.12 1784.11C1815.84 1755.83 1796.07 1721.07 1777.94 1686.34C1750.15 1633.07 1754.09 1564.21 1737.82 1507.29C1730.36 1481.19 1728.27 1451.02 1722.19 1424.28C1713.42 1385.68 1702.9 1347.63 1695.1 1308.62C1688.41 1275.18 1680.56 1242.74 1673.04 1209.63C1664.92 1173.91 1644.67 1140.95 1626.14 1109.6C1594.9 1056.75 1567.01 989.493 1517.59 950.182C1470.5 912.733 1409.69 877.25 1348.42 869.081C1331.7 866.852 1315.95 863.858 1299.61 858.141C1288.1 854.114 1275.22 854.692 1263.31 853.105C1250.76 851.431 1237.51 844.449 1225.45 843.9C1171.78 841.461 1118.9 839.9 1065.31 843.727C1045.4 845.149 1026.84 849.553 1007.3 853.105C996.534 855.061 983.638 856.404 972.735 856.404C958.305 856.404 955.832 861.598 943.035 865.087C923.704 870.359 903.418 881.289 884.329 888.358C874.052 892.164 867.029 898.986 856.192 902.598C848.633 905.118 831.846 914.018 827.534 920.486C821.126 930.095 809.389 932.345 800.96 939.241C794.283 944.703 789.633 950.647 782.028 954.871C771.811 960.546 755.898 975.415 749.201 985.262C719.58 1028.82 733.467 1090.3 712.38 1137.74C700.962 1163.42 699.617 1195.56 691.364 1221.96C686.9 1236.25 689.68 1251.46 685.111 1266.07C679.661 1283.51 677.295 1303.79 677.295 1322.17C677.295 1344.27 665.582 1364.93 664.79 1387.12C664.312 1400.5 658.906 1413.8 658.537 1427.06C658.03 1445.3 667.152 1465.46 672.432 1482.8C691.846 1546.58 725.189 1607.2 756.149 1666.02C763.433 1679.86 772.322 1694.42 780.465 1707.35C789.46 1721.63 800.136 1740.68 813.291 1751.81C830.785 1766.61 850.61 1782.36 871.129 1792.62C890.148 1802.13 918.177 1817.12 939.909 1819.19C951.883 1820.33 964.858 1827.72 976.73 1831C989.787 1834.6 1004.58 1831.13 1018.07 1834.12C1041.76 1839.39 1070.6 1834.82 1095.01 1834.82C1122.16 1834.82 1149.38 1831.69 1176.12 1831.69C1194.09 1831.69 1216.09 1816.98 1232.22 1809.81C1260.21 1797.38 1283.87 1774.5 1306.39 1754.24C1344.79 1719.68 1339.27 1626.83 1306.39 1590.3C1297.47 1580.39 1292.71 1566.12 1280.68 1559.04C1265.17 1549.92 1251.65 1539.15 1233.96 1534.73C1216.34 1530.33 1201.44 1518.33 1183.76 1515.8C1171.41 1514.04 1149.14 1505.78 1139.3 1497.91C1131.36 1491.56 1114.31 1485.5 1105.61 1480.89C1094.96 1475.26 1084.57 1466.46 1076.08 1457.97C1067.95 1449.84 1059.99 1441.98 1050.89 1434.7C1042.85 1428.26 1038 1413.41 1030.57 1409.69");
                }

                /* DOVE */
                &:nth-of-type(3) {
                    scale: var(--scale-08);
                    z-index: var(--z-index-3);
                    translate: -30% -30%;
                }

                /* FRUIT */
                &:nth-of-type(4) {
                    scale: var(--scale-07);
                    z-index: var(--z-index-2);
                    translate: 40% -18%;
                }

                /* BRANCHES */
                &:nth-of-type(5) {
                    scale: var(--scale-03);
                    z-index: var(--z-index-3);
                    translate: 0% 10%;
                }

                /* POND */
                &:nth-of-type(6) {
                    scale: var(--scale-06);
                    z-index: var(--z-index-0);
                    translate: 0% 10%;
                }
            }
        }
    
        /* COLLAGE 4 - Out On The Sea */
        &:nth-of-type(4) {
            grid-column: 1/2;
            grid-row: 2/3;   
            background-color: var(--bg-color-4a);

            img {
                /* FLYING FISH 1 */
                &:nth-of-type(1) {
                    scale: var(--scale-03);
                    z-index: var(--z-index-1);
                    translate: -23% -13%;
                }

                /* FLYING FISH 2 */
                &:nth-of-type(2) {
                    scale: var(--scale-02);
                    z-index: var(--z-index-1);
                    translate: 3% -35%;
                }

                /* MOON */
                &:nth-of-type(3) {
                    scale: var(--scale-02);
                    z-index: var(--z-index-2);
                    translate: 15% -35%;
                }

                /* KRAKEN */
                &:nth-of-type(4) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-2);
                    translate: -8% 38%;
                    animation: kraken 8s ease-in-out infinite; 
                }

                /* NIGHT SKY */
                &:nth-of-type(5) {
                    scale: var(--scale-11);
                    z-index: var(--z-index-0);
                }

                /* SHIP */
                &:nth-of-type(6) {
                    scale: var(--scale-05);
                    z-index: var(--z-index-3);
                    translate: 10% 46%;
                    animation: ship 8s ease-in-out infinite; 
                }

                /* WAVES */
                &:nth-of-type(7) {
                    scale: calc(1.025 * var(--scale-07));
                    z-index: var(--z-index-1);
                    translate: 0% 120%;
                }
            }
        }
    
        /* COLLAGE 5 - Dragon */
        &:nth-of-type(5) {
            grid-column: 2/3;
            grid-row: 2/3;    
            background-color: var(--bg-color-5a);

            img {
                /* BUILDING */
                &:nth-of-type(1){
                    scale: var(--scale-06);
                    z-index: var(--z-index-2);
                }

                /* CONSTELLATION */
                &:nth-of-type(2){
                    scale: var(--scale-09);
                    z-index: var(--z-index-0);
                    translate: -15% 17%;
                }

                /* DRAGON */
                &:nth-of-type(3){
                    scale: var(--scale-06);
                    z-index: var(--z-index-3);
                    translate: 23% 0%;

                    transform-origin: left;
                    animation: dragon 10s ease-in-out infinite;
                }

                /* WIZARD */
                &:nth-of-type(4){
                    scale: var(--scale-04);
                    z-index: var(--z-index-1);
                    translate: -15% 25%;
                }
            }
        }
    
        /* COLLAGE 6 - Around The Fire*/
        &:nth-of-type(6) {
            grid-column: 3/4;
            grid-row: 2/3;    
            background-color: var(--bg-color-6a);

            img {
                /* WOMEN */
                &:nth-of-type(1){
                    scale: var(--scale-07);
                    z-index: var(--z-index-2);
                    translate: 0% 15%;
                }

                /* MOON */
                &:nth-of-type(2){
                    scale: var(--scale-04);
                    z-index: var(--z-index-1);
                    translate: -19% 0%;
                    transform-origin: top; 
                    animation: moon 6s ease-in-out infinite;
                }

                /* PAPER */
                &:nth-of-type(3){
                    scale: var(--scale-05);
                    z-index: var(--z-index-1);
                    translate: 15% 18%;
                }

                /* STARY NIGHT */
                &:nth-of-type(4){
                    scale: var(--scale-06);
                    z-index: var(--z-index-0);
                }
            }
        }
    
        /* COLLAGE 7 - Italy */
        &:nth-of-type(7) {
            grid-column: 1/2;
            grid-row: 3/4;   
            background-color: var(--bg-color-7a);

            img {
                /* BIRDS */
                &:nth-of-type(1){
                    scale: var(--scale-04);
                    z-index: var(--z-index-2);
                    translate: 0% 0%;
                    animation: birds 15s ease-in-out infinite;
                    offset-rotate: 45deg;
                    offset-path: path("M2.67082 327C2.67082 305.924 -0.541064 280.497 7.0913 260.333C13.4012 243.663 26.1661 224.282 41.9639 215.235C67.1093 200.836 96.4032 189.262 124.971 184.68C142.944 181.797 163.248 184.353 181.455 184.353C206.095 184.353 230.735 184.353 255.375 184.353C281.488 184.353 307.602 184.353 333.715 184.353C357.643 184.353 382.705 186.401 406.49 183.536C438.249 179.71 470.307 174.637 501.693 168.503C532.408 162.501 563.656 148.552 592.723 137.294C631.281 122.36 666.247 97.5802 682.687 58.4542C688.568 44.4591 694.896 30.5598 701.106 16.7059C703.291 11.831 704.09 6.35694 707 2");

                
                }

                /* ORANGES */
                &:nth-of-type(2){
                    scale: var(--scale-02);
                    z-index: var(--z-index-2);
                    translate: 18% -5%;
                }

                /* ROAD */
                &:nth-of-type(3){
                    scale: var(--scale-06);
                    z-index: var(--z-index-0);
                    translate: 0% 14.2%;
                }

                /* PILLARS */
                &:nth-of-type(4){
                    scale: var(--scale-08);
                    z-index: var(--z-index-1);
                }
            }
        }
    
        /* COLLAGE 8 - A Fairytale */
        &:nth-of-type(8) {
            grid-column: 2/3;
            grid-row: 3/4;
            background-color: var(--bg-color-8a);

            img {
                /* STEPS */
                &:nth-of-type(1){
                    scale: var(--scale-06);
                    z-index: var(--z-index-2);
                    translate: -10% 35%;
                }

                /* INSECT */
                &:nth-of-type(2){
                    scale: var(--scale-04);
                    z-index: var(--z-index-1);
                    rotate: 45deg;
                    translate: 30% -5%;
                }

                /* LANDSCAPE */
                &:nth-of-type(3){
                    scale: var(--scale-1);
                    z-index: var(--z-index-0);
                }

                /* LEMONS */
                &:nth-of-type(4){
                    scale: calc(.7 * var(--scale-02));
                    z-index: var(--z-index-3);
                    translate: -25% -5%;
                }

                /* MOUSE */
                &:nth-of-type(5){
                    scale: var(--scale-03);
                    z-index: var(--z-index-3);
                    translate: 3% 28%;
                }

                /* PILLARS */
                &:nth-of-type(6){
                    scale: var(--scale-06);
                    z-index: var(--z-index-1);
                    translate: -12% -9%;
                }
            }
        }
    
        /* COLLAGE 9 - In The Garden */
        &:nth-of-type(9) {
            grid-column: 3/4;
            grid-row: 3/4;
            background-color: var(--bg-color-9a);

            img {
                /* GARDEN */
                &:nth-of-type(1){
                    scale: var(--scale-1);
                    z-index: var(--z-index-0);
                }

                /* FOUNTAIN */
                &:nth-of-type(2){
                    scale: var(--scale-04);
                    z-index: var(--z-index-2);
                    translate: -15% 3%;
                }

                /* STORKS */
                &:nth-of-type(3){
                    scale: var(--scale-06);
                    z-index: var(--z-index-1);
                    translate: -40% -30%;
                }

                /* READING */
                &:nth-of-type(4){
                    scale: var(--scale-06);
                    z-index: var(--z-index-3);
                    translate: 15% 40%;
                }
            }
        }
    }
}

/* KEYFRAMES */

/* COLLAGE 1 */
@keyframes clouds {
    0% {
        translate: -20% -80%;
    }
    50% {
        translate: -30% -80%;
    }
    100% {
        translate: -20% -80%;
    }
}

@keyframes knight {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: -10deg;
    }
    100% {
        rotate: 0deg;
    }
}

/* COLLAGE 2 */
@keyframes poet {
    0% {
        translate: -25% 25%;
    }
    50% {
        translate: -20% 25%;
    }
    100% {
        translate: -25% 25%;
    }
}

/* COLLAGE 3 */
@keyframes bee {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}

/* COLLAGE 4 */
@keyframes kraken {
    0% {
        scale: var(--scale-05);
    }
    50% {
        scale: var(--scale-06);
    }
    100% {
        scale: var(--scale-05);
    }
}

@keyframes ship {
    0% {
        translate: 10% 46%;
    }
    50% {
        translate: 10% 52%;
    }
    100% {
        translate: 10% 46%;
    }
}

/* COLLAGE 5 */
@keyframes dragon {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -360deg;
    }
}

/* COLLAGE 6 */
@keyframes moon {
    0% {
        rotate: 0deg; 
    }
    50% {
        rotate: -9deg; 
    }
    100% {
        rotate: 0deg; 
    }
}

/* COLLAGE 7 */
@keyframes birds {
    0% {
        offset-distance: 0%;
    
    }
    50% {
        offset-distance: 100%; 
        z-index: var(--z-index-1);
    }
    100% {
        offset-distance: 0%;
    }
}