{% render "partials/head.liquid" %}

{% comment %} {{ files | json }} {% endcomment %}

<section>
    <h2>Mijn artikelen</h2>
    {% for file in files %}
        <a href="/{{ file | slice:0,-3 }}" style="display: block">{{ file | slice:0,-3 }}
        </a>
    {% endfor %}
</section>

    {% comment %} <section class="flower-grid">
        <h1>Welkom bij mijn <em>I Love Web</em></h1>
        <!-- <img src="./assests/plants/plant-1-light.png" alt="">
        <img src="./assests/plants/plant-2-light.png" alt="">
        <img src="./assests/plants/plant-3-light.png" alt="">
        <img src="./assests/plants/plant-4-light.png" alt="">
        <img src="./assests/plants/plant-5-light.png" alt="">
        <img src="./assests/plants/plant-6-light.png" alt="">
        <img src="./assests/plants/plant-7-light.png" alt="">
        <img src="./assests/plants/plant-8-light.png" alt="">
        <img src="./assests/plants/plant-9-light.png" alt="">
        <img src="./assests/plants/plant-10-light.png" alt=""> -->
    </section>

    <section class="digital garden">
        <a href="./digital-garden/digital-garden-v2/index.html"><h2>Bekijk mijn <em>Digital Garden</em></h2></a>
    </section>

    <section class="learning-journal">
        <a href="./learning-journal/learning-journal.html"><h2>Bekijk mijn <em>Learning Journal</em></h2></a>
    </section>

    <section class="filter-experiment">
        <a href="./experimenten/listFilterSprint1.html"><h2>Experiment <em>Filter</em></h2></a>
    </section>

    <section class="font-experiment">
        <a href="./experimenten/notebook.html"><h2>Experiment <em>Handschrift als font</em></h2></a>
    </section>

    <section class="custom-properties-experiment">
        <a href="./experimenten/customProperties.html"><h2>Experiment <em>Custom properties CSS</em></h2></a>
    </section>

    <section class="font-uit-de-les">
        <a href="./experimenten/pixelfontles.html"><h2>Experiment <em>Pixel font uit de les</em></h2></a>
    </section>

    <section class="accessible-menu">
        <a href="./experimenten/accessible-menu.html"><h2>Experiment <em>Accessible? Menu</em></h2></a>
    </section>   
    
    <section class="validatie-experiment">
        <a href="./experimenten/validatie.html"><h2>Experiment <em>Validatie Forms en States</em></h2></a>
    </section>

    <section class="details-experiment">
        <a href="https://codepen.io/js1909/pen/NPKGOpe"><h2>Experiment <em>Menu met details</em></h2></a>
    </section>    

    <section class="web-audio-api">
        <a href="https://julia-stevens.github.io/decorate-christmas-tree/"><h2>Experiment <em>Audio player met Web Audio API</em></h2></a>
    </section>

    <section class="animatie-filter-knop">
        <a href="./experimenten/animation.html"><h2>Experiment <em>Animatie filter knop</em></h2></a>
    </section>

    <section class="not-hover">
        <a href="./experimenten/not-hover.html"><h2>Experiment <em>:hover > :not(:hover)</em></h2></a>
    </section>

    <section class="pa-oefening">
        <a href="./experimenten/sprint 9/pa-oefening/pa.html"><h2>Experiment <em>Progressive Enhancement</em></h2></a>
    </section> {% endcomment %}


{% render "partials/foot.liquid" %}
