/* h1 {
    display: block;
    background: linear-gradient(0deg, rgb(191, 157, 253) 0%, rgb(0, 0, 0) 100%);
    background-clip: text;
    color: transparent; 
} */

* {
    margin: 0 auto; 
}

button {
    appearance: none;
    border: none;
    border-radius: 50%; 
    background-color: aquamarine;
    width: 32px;
    height: 32px;

    display: grid; 
    place-items: center; 
    cursor: pointer; 

    display: none; 

    img {
        width: 15px;
    }

    .play {
        content: url("pause.svg");
    }
}

